* {
    box-sizing: border-box;
}

.content {
    grid-area: content;
    height: calc(100vh - 90px);
    border-top-left-radius: 15px;
    background-color: #FFFFFF;
    margin: 15px;
    display: grid;
    grid-template-areas:
        "header"
        "cart";
    grid-template-rows: 30px 1fr;
}