* {
    box-sizing: border-box;

}

.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5px;
    grid-area: header;
}

.nav span {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    margin-left: 100px;
}


@media (max-width: 1440px) {
    .nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 5px;
        grid-area: header;
    }

    .nav span {
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 600;
        color: #999999;
        margin-left: 50px;
    }
}

@media (max-width: 1170px) {
    .nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 5px;
        grid-area: header;
    }

    .nav span {
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 600;
        color: #999999;
        margin-left: 50px;
    }

    .scroll {
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: #005475 #FFFFFF;
    }

}


@media (max-width: 1050px) {
    .nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 5px;
        grid-area: header;
    }

    .nav span {
        font-family: "Montserrat";
        font-size: 10px;
        font-weight: 600;
        color: #999999;
        margin-left: 50px;
    }

    .scroll {
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: #005475 #FFFFFF;
    }

}

.nav span:hover {
    color: #555555;
}

.colorHr{
    border: red; /* границы уберем */
 background-color: rgb(255, 0, 0);
}