
.textHeader {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: #005475;
    border-bottom: 3px solid #005475BF;
    text-align: center;
}

.textBody {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color:#333333BF;
    text-align: center;

}

