
.textHeader {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: #005475;
    border-bottom: 3px solid #005475;
    text-align: center;
}

.textBody {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-align: center;

}

.textBodyDraft {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    text-align: center;

}

.ModaltextBody {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    text-align: center;

}

.transitionText {
    color: black;
    transition: color 0.5s ease;
}

.location {
    display: grid;
    grid-template-areas:
        "icon"
        "box";
    grid-gap: 10px;
    place-items: center;
    height: auto;
    position: absolute; /* Изменено на абсолютное позиционирование */
    top: 45%; /* Центрирование по вертикали */
    left: 55%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Смещение для корректировки центрирования */
    width: 100%; /* Установка ширины для корректного центрирования */
    padding-top: 5%;
}

.modalIcon {
    grid-area: icon;
    position: absolute; /* Изменено на абсолютное позиционирование */
    margin-left: 990px;
}

.modalWindow {
    background-color: white;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    padding: 4px;
    border-radius: 10px;
    grid-area: box;
    align-self: center;
    position: relative; /* Изменено на относительное позиционирование */
}

.modalRow {
    background-color: #0031B01A;
}

.typography {
    color: #333333;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* 
@keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  } */

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .modal {
    animation-name: slideUp;
    animation-duration: 0.5s; 
    animation: slideUp 0.5s ease-out; /* Анимация всплытия */
  }